@use "../../../app/global" as g;

.topbar {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #b1d0caCC;

  padding-top: 20px;

  transition: background 0.3s ease;

  // dont allow text to be selected
  user-select: none;

  >.topbar-text {
    display: flex;
    align-items: center;
    flex-direction: column;

    font-family: "Spelling Salt", cursive;

    > .topbar-title {
      font-size: 4rem;
    }

    > .topbar-motto {
      font-size: 1.5rem;
    }

    >.topbar-divider {
      >img {
        width: 400px;
        height: 48px;
      }
    }
  }

  >.navbar {
    display: flex;
    align-items: center;

    gap: 24px;

    //border: 2px solid #696969;
    margin-top: 5px;

    >a,
    >.artbook>.artbook-text {
      color: #212121;
      text-decoration: none;
      margin: 10px 20px;

      font-size: 1.4rem;

      background: linear-gradient(to left, #ffc108, #ffc108) no-repeat bottom center;
      background-size: 0 2px;
      transition: 0.25s;
    }

    >a:hover,
    >.artbook>.artbook-text:hover,
    >.artbook>.artbook-text.active {
      //background: #f6f6f6;
      //text-decoration: underline #ffc108;
      background-size: 100% 2px;
    }

    .artbook {
      cursor: pointer;
      >.artbook-text {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 8px;
        img {
          margin-top: 4px;
          max-height: 8px;
          width: auto;
        }
      }

      >.artbook-text.active {
        img {
          //animation: dropdown-arrow-flip-up 0.25s forwards;
          transform: rotateX(180deg);
          transition: 0.25s;
        }
      }

      >.artbook-text.not-active {
        img {
          //animation: dropdown-arrow-flip-down 0.25s forwards;
          transform: rotateX(0deg);
          transition: 0.25s;
        }
      }

      >.artbook-dropdown.active {
        opacity: 1;
        transition: 0.25s;
      }
      >.artbook-dropdown.not-active {
        opacity: 0;
        transition: 0.25s;
      }
    }

    .artbook>.artbook-dropdown {
      position: absolute;

      display: flex;
      flex-direction: column;
      align-items: center;

      background-color: #b1d0ca;
      border: 1px solid #610e0e;
      border-radius: 6px;
      //margin: 0 12px;

      //opacity: 0;

      > a {
        color: #212121;
        text-decoration: none;
        margin: 10px 20px;
        padding-bottom: 2px;

        font-size: 1.1rem;

        background: linear-gradient(to left, #ffc108, #ffc108) no-repeat bottom center;
        background-size: 0 2px;
        transition: 0.25s;
      }

      > a:hover {
        //background-color: #f6f6f6;
        //border-radius: 6px;
        //text-decoration: underline #ffc108;
        background-size: 100% 2px;
      }
    }
  }
}

.scrolled {
  background: #b1d0ca;
}