.home-wrapper {
  display: flex;
  flex-direction: column;
  //flex-grow: 1;

  margin-top: -50px;
  margin-bottom: -100px;

  >.home-signature {
    display: flex;
    flex-direction: column;
    align-items: center;

    >img {
      max-height: 80vh;
      width: auto;
    }
  }
}