.footer-wrapper {
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  >.footer-content {
    //display: flex;
    //align-items: center;
    //justify-content: center;
    //
    //flex-direction: row;

    display: grid;
    grid-template-columns: 1fr auto 1fr;

    gap: 24px;

    > img {
      height: 300px;
      width: auto;
    }

    >.footer-links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;

      gap: 24px;

      margin-bottom: 3px;

      //>.footer-resume {
      //  //margin-top: 100px;
      //  margin-top: 69%;
      //}

      >.footer-resume>a {
        font-size: 1.5rem;
        color: white;
        text-decoration: none;
      }

      >.footer-socials {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 16px;
      }

      >.footer-socials>a>img {
        height: 32px;
        width: auto;
      }
    }
  }
}